@page "/products/create"
@using ProjectModels
@using BlazorBusiness.Repository.IRepository
@inject IProductRepository _productRepository
@inject NavigationManager _NavigationManager;
@inject ICategoryRepository _CategoryRepository;

<h3>Create new product</h3>

<Form _product="_product" Categories="_Categories" OnValidSubmit="CreateProduct"></Form>

@code {

    private readonly ProductDTO _product = new();

    public async void CreateProduct()
    {
        await _productRepository.Create(_product);
        _NavigationManager.NavigateTo("/products");
    }


    public IEnumerable<CategoryDTO> _Categories ;
    
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(GetData);
    }

    protected async void GetData()
    {
        _Categories = await _CategoryRepository.GetAll();
    }

}