@page "/products"
@using ProjectModels
@using BlazorBusiness.Repository.IRepository
@inject IProductRepository _ProductRepository;
@inject NavigationManager _NavigationManager;

<a href="/products/create" class="btn btn-outline-primary float-end"> Create Product</a>

<h3>Products list</h3>


@if (_Products == null)
{
    <div class="w-100 m-2">
        <div class="w-100 text-center m-2">
            <p>
                <b>Loading...</b>
            </p>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only"> </span>
            </div>
        </div>
    </div>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Product name</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in _Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>
                    <a href="/products/@product.Id" class="btn btn-primary">Edit</a>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#product-@product.Id">Delete</button>
                </td>

                <!-- Modal -->
                @* <DeleteConfirm product="product" GetData="GetData"></DeleteConfirm> *@
            </tr>
        }
        </tbody>
    </table>
}


@code {
    public IEnumerable<ProductDTO> _Products;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(GetData);
    }

    protected void GetData()
    {
        _Products = _ProductRepository.GetAll();
    }

}