@page "/products/{Id}"
@using ProjectModels
@using BlazorBusiness.Repository.IRepository
@inject IProductRepository _productRepository
@inject ICategoryRepository _CategoryRepository;
@inject NavigationManager _NavigationManager;

<h3>Update product</h3>

<Form _product="_product" Categories="_Categories"  OnValidSubmit="UpdateProduct"></Form>

@code {

    [Parameter]
    public string Id { get; set; }
    
    public IEnumerable<CategoryDTO> _Categories ;
     

    private ProductDTO _product = new();

    protected override async Task OnInitializedAsync()
    {
        _product = await _productRepository.Get(Convert.ToInt32(Id));
        await Task.Run(GetData);
    }

    public async void UpdateProduct()
    {
        await _productRepository.Update(_product);
        _NavigationManager.NavigateTo("/products");
    }

    protected async void GetData()
    {
        _Categories = await _CategoryRepository.GetAll();
    }
}