@page "/categories/create"
@using ProjectModels
@using BlazorBusiness.Repository.IRepository
@inject ICategoryRepository _categoryRepository
@inject NavigationManager _NavigationManager;
@attribute [Authorize]

<h3>Create new category</h3>

<div class="mt-3 bg-light p-3 border-1 border">
        
    <EditForm Model="_category" OnValidSubmit="CreateCategory">
        <DataAnnotationsValidator />
        <div class="form">
            <div class="row mb-3">
                <label class="form-label col-sm-4" for="name"> Category Name</label>
                <div class="col-sm-8">
                    <input class="form-control" id="name" type="text" @bind="_category.Name"
                           aria-describedby="nameHelp"
                           placeholder="Category Name" @bind:event="oninput">
                    <div id="nameHelp" class="form-text col-sm-8">Enter the category name</div>
                    <ValidationMessage For="() => _category.Name"></ValidationMessage>
                </div>
            </div>
            <button class="btn btn-success"> Create</button>
        </div>
    </EditForm>
</div>

 

@code {

    private CategoryDTO _category = new();

    public async void CreateCategory()
    {
        await _categoryRepository.Create(_category);
        _NavigationManager.NavigateTo("/categories");
    }
    

}