@page "/categories"
@using BlazorBusiness.Repository.IRepository
@using ProjectModels
@inject ICategoryRepository _CategoryRepository;
@inject NavigationManager _NavigationManager;

<a href="/categories/create" class="btn btn-outline-primary float-end"> Create Category</a>

<h3>Categories list</h3>
 

@if (_Categories == null)
{
    <div class="w-100 m-2">
        <div  class="w-100 text-center m-2">
            <p><b>Loading...</b></p>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only"> </span>
            </div>
        </div>
    </div>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Category name</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in _Categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a href="/categories/@category.Id" class="btn btn-primary">Edit</a>
                    <button  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#category-@category.Id">Delete</button>
                </td>
                 
                <!-- Modal -->
                <DeleteCategoryConfirm category="category" GetData="GetData"></DeleteCategoryConfirm>
            </tr>
        }
        </tbody>
    </table>
}


@code {
    public IEnumerable<CategoryDTO> _Categories ;
    
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(GetData);
    }

    protected async void GetData()
    {
        _Categories = await _CategoryRepository.GetAll();
    }

}